<div class="login-page loginBody">
    <div class="row">
        <div class="map-container col-xs-12">
            <div class="col-md-12 p-l-r-0 map-pt">
                <div class="">
                    <div class="login-box" style="height:500px;">
                        <div class="login-part">
                            <form class="form-signin" (ngSubmit)="changePassword(passwordForm)" [formGroup]="passwordForm" novalidate>
                                <h4>Change Password </h4>
                                <div class="row ta-center">
                                    <div class="col-md-12" *ngIf="errMsg">
                                        <span class="alert alert-danger" id="error">{{errMsg}}</span>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                        <input type="password" id="currentPassword" class="form-control input-sm" placeholder="Current Password" name="currentPassword" formControlName="currentPassword">
                                    </div>
                                    <div [hidden]="currentPassword.valid || currentPassword.pristine && (currentPassword.dirty || currentPassword.untouched)" class="alert alert-danger">
                                        <div [hidden]="!newPassword.hasError('required')">Current Password is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                        <input type="password" id="newpassword" class="form-control input-sm" placeholder="New Password" name="newPassword" formControlName="newPassword">
                                    </div>
                                    <div [hidden]="newPassword.valid || newPassword.pristine && (newPassword.dirty || newPassword.untouched)" class="alert alert-danger">
                                        <!-- <div [hidden]="!newPassword.hasError('required')">New Password is required</div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                        <input type="password" id="confirmPassword" class="form-control input-sm" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
                                    </div>
                                    <div [hidden]="confirmPassword.valid || confirmPassword.pristine && (confirmPassword.dirty || confirmPassword.untouched)" class="alert alert-danger">
                                        <!-- <div [hidden]="!confirmPassword.hasError('required')">Confirm Password is required</div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-success" type="submit" [disabled]="!passwordForm.valid">Submit</button>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="loading">
                                            <div class="spinner">
                                                <div class="mask">
                                                    <div class="maskedCircle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- login box ends -->

                </div>
            </div>
        </div>
    </div>
    <!-- row ends -->
</div>